@page
@model JustBrewIt.Pages.SearchModel
@{

    ViewData["Title"] = "Search Brewery";
    var Brewery = (JustBrewIt.BrewIT[])ViewData["BreweryAPI"];


}

<form action="" method="POST" style="margin-top: 50px;">
    <label width="30" class="control-label" for="BreweryCity">Search Brewries by City</label>
    <input type="text" placeholder="Enter city name" name="BreweryCity" id="BreweryCity" />

    <label class="control-label" for="BreweryType">Search Brewries by Type</label>
    <select class="featurette-heading"  name="BreweryType" id="BreweryType">
        <option value="">Select type</option>
        <option value="micro">Micro</option>
        <option value="nano">Nano</option>
        <option value="regional">Regional</option>
        <option value="brewpub">Brewpub</option>
        <option value="large">Large</option>
        <option value="planning">Planning</option>
        <option value="bar">Bar</option>
        <option value="contract">Contract</option>
        <option value="proprietor">Proprietor</option>
        <option value="closed">Closed</option>
    </select> &nbsp;&nbsp;
    <input type="submit" value="Search"  class="btn btn-sm btn-primary" />
</form>
<hr />
@{ if (Model.isSearchCity || Model.isSearchType)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Brewery Type</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th></th>
                </tr>
        </thead>
        @foreach (JustBrewIt.BrewIT justBrewITs in Brewery)
        {
            <tbody>
                <tr>
                    <td>@justBrewITs.Name</td>
                    <td>@justBrewITs.BreweryType</td>
                    <td>@justBrewITs.Phone</td>
                    <td>@justBrewITs.Latitude</td>
                    <td>@justBrewITs.Longitude</td>
                </tr>
            </tbody>

        }
        </table>

            }
}

