@page
@model JustBrewIt.Pages.SearchModel
@{
    var BreweryAPI = (JustBrewItQuickType.Welcome[])ViewData["BreweryAPI"];
}

<form action="" method="POST" style="margin-top: 50px;">
    <div class="form-group">
        <label class="control-label" for="BreweryCity">Enter City Name Here</label>
        <input type="text" class="form-control" name="BreweryCity" id="BreweryCity" />
    </div>

    <div class="form-group">
        <label class="control-label" for="BreweryType">Brewery Type</label>
        <select class="form-control" name="BreweryType" id="BreweryType">
            <option value="">Please Select</option>
            @foreach (var brewCat in Model.BreweryCategories)
            {
                <option value="@brewCat"> @brewCat </option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-sm btn-primary" />
    </div>
</form>
@{ if (Model.isSearchCity || Model.isSearchType)
    {
        <!-- Check BreweryAPI has data then populate table.If not display "No data" Message-->
        @if (BreweryAPI.Length > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Brewery Type</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (JustBrewItQuickType.Welcome welcome in BreweryAPI)
                {
                    <tbody>
                        <tr>
                            <td>@welcome.Name</td>
                            <td>@welcome.BreweryType</td>
                            <td>@welcome.Phone</td>
                            <td>@welcome.Latitude</td>
                            <td>@welcome.Longitude</td>
                        </tr>
                    </tbody>

                }
            </table>
        }
        else
        {
            <h3><strong>Information doesnt exists for this search response</strong></h3>
        }
    }
}


