@page
@model JustBrewIt.Pages.ViewDetailsModel
@{
    List<JustBrewItGoogle.Candidate>
    Records = (List<JustBrewItGoogle.Candidate>)ViewData["Records"];



}
<html>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Business Status</th>
                <th scope="col">Price Level</th>
                <th scope="col">Rating</th>

            </tr>
        </thead>

        @foreach (var record in Records)
        {
            <tbody>
                <tr>
                    <td>@record.Name</td>
                    <td>@record.FormattedAddress</td>
                    <td>@record.BusinessStatus</td>
                    <td>@record.PriceLevel</td>
                    <td>@record.Rating</td>
                </tr>
            </tbody>
        }
    </table>
</body>
</html>